<h1>Edit Sponsored Post</h1>
 
<%= form_for [@topic, @sponsored_post] do |f| %>
       
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter sponsored post name" %>
      
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter sponsored post description" %>
    
         <%= f.label :price %>
           <%= f.number_field :price, placeholder: "$$$" %>
    
       <%= f.submit "Save", class: 'btn btn-success' %>
        <% end %>
